@import url(./reset.css);
@import url(./common.css);

/*special_sale*/
.special_sale ul li .cont_01 {
  background: #1b1c33;
}
.special_sale ul li .img_01 {
  background: url(../images/visual/special_sale/01.png) no-repeat center
    center/cover;
}
.special_sale ul li .cont_02 {
  background: #646b75;
}
.special_sale ul li .img_02 {
  background: url(../images/visual/special_sale/02.png) no-repeat center
    center/cover;
}
.special_sale ul li .cont_03 {
  background: #86624b;
}
.special_sale ul li .img_03 {
  background: url(../images/visual/special_sale/03.png) no-repeat center
    center/cover;
}
.special_sale ul li .cont_04 {
  background: #61161d;
}
.special_sale ul li .img_04 {
  background: url(../images/visual/special_sale/04.png) no-repeat center
    center/cover;
}
.special_sale ul li .cont_05 {
  background: #c5b79d;
}
.special_sale ul li .img_05 {
  background: url(../images/visual/special_sale/05.png) no-repeat center
    center/cover;
}

/*brand_sale*/
#brand_sale .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#brand_sale .swiper-slide .brand_sale_img {
  position: relative;
  width: 36%;
}
#brand_sale .swiper-slide .brand_sale_img img {
  width: 100%;
  border-radius: 20px;
}
#brand_sale .swiper-slide .brand_sale_img > div {
  position: absolute;
  background: #000;
  border-radius: 10px;
  font-size: 11px;
  padding: 10px;
  width: 140px;
}
#brand_sale .swiper-slide .brand_sale_img > div a {
  display: block;
}
#brand_sale .swiper-slide .brand_sale_img > div a p {
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#brand_sale .swiper-slide .brand_sale_img > div span {
  color: #fff;
  display: block;
}
#brand_sale .cap {
  top: 20px;
  left: 40px;
}
#brand_sale .sweat_shirt {
  top: 100px;
  right: 5px;
}
#brand_sale .shoes {
  bottom: 80px;
  left: 30px;
}
#brand_sale .flyingpan {
  top: 200px;
  right: 100px;
}
#brand_sale .blueberry {
  top: 220px;
  left: 30px;
}
#brand_sale .brand_sale_contents {
  width: 58%;
}
#brand_sale .brand_sale_contents > h3 {
  font-size: 32px;
  font-weight: 700;
}
#brand_sale .brand_sale_contents > h4 {
  color: rgb(100, 100, 100);
  margin: 10px 0;
}
#brand_sale .brand_sale_contents > span > a {
  color: rgb(190, 190, 190);
}
#brand_sale .brand_sale_list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#brand_sale .brand_sale_list li {
  width: 32%;
}
#brand_sale .brand_sale_list li a {
  display: block;
}
#brand_sale .brand_sale_list li a img {
  border-radius: 20px;
  width: 100%;
}
#brand_sale .brand_sale_list li h3 {
  margin: 10px 0;
  height: 32px;
}
#brand_sale .brand_sale_list li h4 {
  margin-top: 5px;
}
#brand_sale .slide_control {
  margin: 30px auto 0;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
}
#brand_sale .slide_control .swiper-button-prev,
#brand_sale .slide_control .swiper-button-next {
  flex: 1;
  position: static;
  margin-top: 0;
}
#brand_sale .slide_control .swiper-button-prev .brand_prev_btn {
  background-position: -127px -32px;
  width: 7px;
  height: 12px;
}
#brand_sale .slide_control .swiper-button-next .brand_next_btn {
  background-position: -134px -32px;
  width: 7px;
  height: 12px;
}
#brand_sale .slide_control .swiper-pagination {
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  flex: 2;
  position: static;
}

/*theme_sale*/
#theme_sale .tabnav {
  display: flex;
  margin-bottom: 50px;
}
#theme_sale .tabnav .brand_logo {
  margin: 0 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#theme_sale .tabnav .brand_logo img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

#theme_sale .tab_contents > li {
  display: none;
}
#theme_sale .tab_contents > li.tabactive {
  display: flex;
}
#theme_sale .tab_contents > li > div:first-child {
  width: 40%;
  height: auto;
  border-radius: 20px 0 0 20px;
}
#theme_sale .tab_contents > li .theme_img {
  position: relative;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}
#theme_sale .tab_contents > li .theme_img > span {
  position: absolute;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  bottom: 30px;
  left: 40px;
}
.tab_contents #tab01 .theme_img {
  background: url(../images/special_sale/theme/beer/beer.png);
}
.tab_contents #tab02 .theme_img {
  background: url(../images/special_sale/theme/gym/gym.png);
}
.tab_contents #tab03 .theme_img {
  background: url(../images/special_sale/theme/golf/golf.png);
}
.tab_contents #tab04 .theme_img {
  background: url(../images/special_sale/theme/baby/baby.png);
}
#theme_sale .tab_contents > li .theme_products {
  width: 60%;
  background: #efefef;
  padding: 30px 0;
  border-radius: 0 20px 20px 0;
}
#theme_sale .tab_contents > li .theme_products ul {
  display: flex;
  flex-wrap: wrap;
}
#theme_sale .tab_contents > li .theme_products ul li {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 10px;
  box-sizing: border-box;
}
#theme_sale .tab_contents > li .theme_products ul li a {
  display: block;
  width: 40%;
}
#theme_sale .tab_contents > li .theme_products ul li a img {
  border-radius: 10px;
  width: 100%;
}
#theme_sale .tab_contents > li .theme_products > form {
  width: 200px;
  height: 50px;
  background: #0661a9;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}
#theme_sale .tab_contents > li .theme_products > form button {
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
#theme_sale .theme_products_info {
  position: relative;
  margin-left: 16px;
  width: 60%;
}
#theme_sale .theme_products_info h3 {
  font-size: 14px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#theme_sale .theme_products_info p {
  margin: 10px 0;
}
#theme_sale .theme_products_info form {
  position: absolute;
  bottom: 0;
  right: 0;
}
#theme_sale .theme_products_info form label {
  font-size: 20px;
  color: rgb(200, 200, 200);
  cursor: pointer;
}
#theme_sale .theme_products_info form input {
  display: none;
}
#theme_sale .theme_products_info form input:checked + label {
  color: #0661a9;
}

/*sale_list*/
#sale_list {
  padding: 80px 0 0;
}
#sale_list .big_sale_list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0;
}
#sale_list .big_sale_list > li > a {
  display: block;
  width: 50%;
}
#sale_list .big_sale_list > li > a img {
  width: 100%;
  border-radius: 20px;
}
#sale_list .sale_info h3 {
  font-size: 28px;
}
#sale_list .sale_info h4 {
  font-size: 20px;
  color: rgb(130, 130, 130);
  margin-top: 15px;
}
#sale_list .sale_info .discount {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
}
#sale_list .sale_info .discount > span {
  color: rgb(150, 150, 150);
}
#sale_list .sale_info .pro_price {
  font-size: 30px;
  margin: 5px 0 30px;
}
#sale_list .sale_info dl {
  display: flex;
  margin-bottom: 10px;
  color: rgb(150, 150, 150);
}
#sale_list .sale_info dl dt {
  width: 100px;
}
#sale_list .sale_info dl dd span {
  font-size: 20px;
  color: red;
}
#sale_list .sale_info .sale_btn {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
#sale_list .sale_info .sale_btn li {
  width: 180px;
  height: 60px;
  box-sizing: border-box;
}
#sale_list .sale_info .sale_btn li:nth-child(3) {
  border: 2px solid #e31837;
  border-radius: 10px;
  margin-left: 30px;
}
#sale_list .sale_info .sale_btn li button {
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}
#sale_list .sale_info .sale_btn li:nth-child(1) button {
  background: #000;
  border-radius: 10px 0 0 10px;
}
#sale_list .sale_info .sale_btn li:nth-child(2) button {
  background: #0661a9;
  border-radius: 0 10px 10px 0;
}
#sale_list .sale_info .sale_btn li a {
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: #000;
}

/*sale_product*/
#sale_product {
  padding: 80px 0 30px;
  min-height: 2000px;
}
#sale_product .filter_container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sale_product .filter_container li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sale_product .filter_container li input {
  display: none;
}
#sale_product .filter_container li label {
  cursor: pointer;
}
#sale_product .filter_container li label > span {
  font-size: 40px;
}
#sale_product .filter_container li input:checked + label > span {
  color: #0661a9;
}
#sale_product .filter_container li input:checked + label + span {
  color: #0661a9;
}
#sale_product .filter_container li > span {
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
}
#sale_product .product_list {
  margin-top: 80px;
}
#sale_product .product_list img {
  border-radius: 20px;
}
#sale_product .product_list .discount {
  margin: 20px 0 0;
}
#sale_product .product_list .pri_cart {
  margin-top: 0;
}
/*===========================================special_sale 종료*/

@media all and (max-width: 1280px) {
  /*brand_sale*/
  #brand_sale .swiper-slide .brand_sale_img {
    display: none;
  }
  #brand_sale .brand_sale_contents {
    width: 100%;
  }
  #brand_sale .brand_sale_list li h3 {
    font-size: 14px;
  }

  /*theme_sale*/
  #theme_sale .tabnav .brand_logo {
    font-size: 16px;
    word-break: keep-all;
  }
  #theme_sale .tabnav li a img {
    width: 28px;
  }
  #theme_sale .tab_contents > li {
    flex-direction: column;
  }
  #theme_sale .tab_contents > li > div:first-child {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 100px;
  }
  #theme_sale .tab_contents > li .theme_img {
    height: 80px;
  }
  #theme_sale .tab_contents > li .theme_img > span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    text-align: center;
  }
  #theme_sale .tab_contents > li .theme_products {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }

  /*sale_list*/
  #sale_list {
    padding: 50px 20px 0;
  }

  #sale_list .big_sale_list a {
    width: 100%;
  }

  #sale_list .sale_info h3 {
    font-size: 24px;
  }
  #sale_list .sale_info h4 {
    font-size: 16px;
  }
  #sale_list .sale_info .discount {
    font-size: 24px;
  }
  #sale_list .sale_info .pro_price {
    font-size: 24px;
    margin: 5px 0 20px;
  }
  #sale_list .sale_info .sale_btn {
    margin-top: 30px;
  }
  #sale_list .sale_info .sale_btn li {
    width: 150px;
  }

  /*sale_product*/
  #sale_product {
    padding: 20px 20px 30px;
    min-height: 2000px;
  }
  #sale_product .filter_container {
    width: 100%;
  }
  #sale_product .filter_container li label > span {
    font-size: 30px;
  }
  #sale_product .filter_container li > span {
    font-size: 14px;
  }
  /*===========================================special_sale 종료*/
}

@media all and (max-width: 1030px) {
  #sale_list .big_sale_list > li {
    flex-direction: column;
  }
  #sale_list .big_sale_list > li > a {
    width: 100%;
  }
  #sale_list .sale_info {
    margin-top: 30px;
    width: 100%;
  }
}

@media all and (max-width: 599px) {
  /*brand_sale*/
  #brand_sale .swiper-slide {
    flex-direction: column;
  }
  #brand_sale .swiper-slide .brand_sale_img {
    display: block;
    width: 100%;
  }
  #brand_sale .swiper-slide .brand_sale_img > div {
    width: 100px;
  }
  #brand_sale .cap {
    top: 50px;
    left: 10%;
  }
  #brand_sale .sweat_shirt {
    top: 100px;
    right: 5%;
  }
  #brand_sale .shoes {
    bottom: 80px;
    left: 30px;
  }
  #brand_sale .brand_sale_list {
    display: none;
  }
  #brand_sale .brand_sale_contents {
    width: 100%;
    margin-top: 30px;
  }
  #brand_sale .brand_sale_contents > h3 {
    font-size: 24px;
  }
  #brand_sale .brand_sale_contents > h4 {
    font-size: 14px;
  }
  #brand_sale .brand_sale_contents > span > a {
    font-size: 14px;
  }
  #brand_sale .slide_control {
    margin: 20px auto 0;
  }

  /*theme_sale*/
  #theme_sale .tabnav {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  #theme_sale .tabnav .brand_logo {
    margin: 0;
    width: 50%;
    margin-bottom: 15px;
  }
  #theme_sale .tab_contents > li .theme_img > span {
    font-size: 18px;
  }
  #theme_sale .tab_contents > li > div:first-child {
    height: 70px;
  }
  #theme_sale .tab_contents > li .theme_products ul li {
    flex-direction: column;
    align-items: flex-start;
  }
  #theme_sale .tab_contents > li .theme_products ul li a {
    width: 100%;
  }
  #theme_sale .tab_contents > li .theme_products > form {
    width: 180px;
    height: 40px;
  }
  #theme_sale .tab_contents > li .theme_products > form button {
    line-height: 40px;
    font-size: 14px;
  }
  #theme_sale .theme_products_info {
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }
  #theme_sale .theme_products_info p {
    font-size: 16px;
  }
  #theme_sale .theme_products_info p > span {
    font-size: 12px;
  }

  /*sale_list*/
  #sale_list {
    padding: 40px 20px 0;
  }
  #sale_list .big_sale_list > li {
    margin-top: 0;
    margin-bottom: 40px;
  }
  #sale_list .sale_info h3 {
    font-size: 20px;
  }
  #sale_list .sale_info h4 {
    font-size: 16px;
  }
  #sale_list .sale_info .discount {
    margin-top: 20px;
  }
  #sale_list .sale_info .sale_btn li {
    height: 40px;
  }
  #sale_list .sale_info .sale_btn li:nth-child(3) {
    border-radius: 5px;
  }
  #sale_list .sale_info .sale_btn li button {
    font-size: 14px;
  }
  #sale_list .sale_info .sale_btn li:nth-child(1) button {
    border-radius: 5px 0 0 5px;
  }
  #sale_list .sale_info .sale_btn li:nth-child(2) button {
    border-radius: 0 5px 5px 0;
  }
  #sale_list .sale_info .sale_btn li a {
    font-size: 14px;
    line-height: 38px;
  }

  /*sale_product*/
  #sale_product {
    padding: 40px 20px 30px;
    min-height: 2000px;
  }
  #sale_product .filter_container {
    justify-content: flex-start;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  #sale_product .filter_container::-webkit-scrollbar {
    display: none;
  }
  #sale_product .filter_container li {
    width: 20%;
    margin: 0 25px;
  }
  #sale_product .filter_container li label > span {
    font-size: 30px;
  }
  #sale_product .filter_container li > span {
    font-size: 14px;
  }

  /*sale_list*/
  #sale_product .product_list {
    margin-top: 40px;
  }
  #sale_product .product_list img {
    border-radius: 10px;
  }
  #sale_product .product_list .discount {
    font-size: 16px;
  }
  #sale_product .product_list .discount > span {
    font-size: 12px;
  }
  /*===========================================special_sale 종료*/
}
